@model IEnumerable<ExpenseReportRepo.Models.ExpenseReport>

@{
    ViewData["Title"] = "Expense Reports";
}

<h2>Expense Reports</h2>

<div class="container-fluid">
    <div class="col-md-4">
        <div class="well well-sm">
            <h2 class="text-center">Montly Income <br> $@ViewData["MonthlyReceived"]</h2>
        </div>        
    </div>
    <div class="col-md-4">
        <div class="well well-sm">
            <h2 class="text-center">Yearly Income <br> $@ViewData["YearlyReceived"]</h2>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well well-sm">
            <h2 class="text-center">Total Income <br> $@ViewData["TotalReceived"]</h2>
        </div>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSubmitted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatePaid)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePaid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
